body{
    background-image: url(84819-naruto-uzumaki.jpg);
    text-align: center;
}
#H1{
    font-size: 26px;
    font-family: 'Rubik Iso', cursive;
}
#TS{
    font-family: 'Rubik Islo' cursive;
}